
<div class="card mt-4 col-12">
  <div class="card-body mx-auto col-10">
    <h3 class="card-title text-center">Proyecto Educativo Individual </h5>
    
<form action="/educado/PEI" method="POST">
       <div class="form-group">
            <label>Fecha: </label>
            <input name="Fecha" autofocus type="date" class="form-control"> </br>
       </div>   
            <div class="form-group">
            <label>Educador: </label>
            <select class="form-control" name="educador">
               {{#each educador}}
               <option value={{Id}}>{{Nombre}}</option>
               {{/each}}
            </select> </br>
       </div>  

       <div class="form-group">
            <label>Area: </label>
            <select class="form-control" name="Area">
               {{#each area}}
               <option value={{Id}}>{{Nombre}}</option>
               {{/each}}
            </select> </br>
       </div>   

        <div class="form-group">
            <label>Objetivo:</label>
            <textarea name="Objetivo" type="text" class="form-control"> </textarea></br>
       </div>   
        <div class="form-group">
            <label>Acuerdo: </label>
            <textarea name="Acuerdo" type="text" class="form-control"> </textarea></br>
       </div>   
        <div class="form-group">
            <label>Plazo: </label>
            <input name="Plazo" type="date" class="form-control"> </br>
       </div>
        <div class="form-group">
            <label>Resultados esperados: </label>
            <textarea name="Resultado" type="text" class="form-control"> </textarea></br>
       </div>
     <br>


    <div class="form-group">
         <br>
        <button  class="btn btn-success">Completar Formulario</button>
    </div>

</form>
        </div>
  </div>

