
<div class="card mt-4 col-12">
  <div class="card-body mx-auto col-10">
    <h3 class="card-title text-center">Ingreso</h5>
    
<form action="/educador/edit/{{editar.Id}}" method="POST">
       <div class="form-group">
            <label>Nombre: </label>
            <input name="Nombre" type="text" class="form-control" value='{{editar.Nombre}}'> </br>
       </div>   
       <div class="form-group">
            <label>Telefono: </label>
            <input name="Telefono" type="text" class="form-control" value={{editar.Telefono}}> </br>
       </div>     
        <div class="form-group">
            <label>Fecha de nacimiento: </label>
            <input name="F_Nac" type="date" class="form-control" value="{{editar.F_Nac}}"> </br>
       </div>   



    <div class="form-group">
            <label for="exampleFormControlFile1">Foto:</label>
            <input type="file" class="form-control-file" id="exampleFormControlFile1" name="Archivo">
    </div>

    <div class="form-group">
         <br>
        <button  class="btn btn-success">Completar Formulario</button>
    </div>

</form>
        </div>
  </div>

