<div class="container mt-3">
    <h3>Educados</h3>
    <div class="row mt-3">
        odsjaod
    </div>
        <hr class="my-4">
<h3>Casas</h3>
    <div class="row mt-3">
        dsadasd
    </div>


</div>