<div class="jumbotron mx-auto mt-4">
    <div class="container mx-auto text-center">
    <h1 class="dist">Inclucón y Ciudadania</h1>
    <p class="lead">Informes de la evaluacion de asambleas y entrevistas individuales</p>

</div>