
<div class="jumbotron mt-4">
    <div class="container">
    <h1 class="dist">Inclucón y Ciudadania</h1>
    <p class="lead">Informes de la evaluacion de asambleas y entrevistas individuales</p>
    <hr class="my-4">
    <div class="row mt-4"></div>
    <hr class="my-4">
    <div class="row mt-4">

</div>