<nav id="footer" class="navbar-dark bg-dark text-center fixed-bottom">
    <div>   
        <a href="https://github.com/jonathan1394" class="btn btn-outline-primary btn-lg">Facebook</a>
 
        <a href="https://github.com/jonathan1394" class="btn btn-outline-secondary btn-lg">twiter </a>
 
        <a href="https://github.com/jonathan1394" class="btn btn-outline-success btn-lg">github</a>
    </div>
</nav>