
<div class="card mt-4 col-12">
  <div class="card-body mx-auto col-10">
    <h3 class="card-title text-center">Ingreso</h5>
    
<form action="/educado/add" method="POST">
       <div class="form-group">
            <label>Nombre: </label>
            <input name="Nombre" autofocus type="text" class="form-control"> </br>
       </div>   

       <div class="form-group">
            <label>Cedula de identidad: </label>
            <input name="Ci" type="text" class="form-control"> </br>
       </div>   
        <div class="form-group">
            <label>Sipi:</label>
            <input name="Sipi" type="text" class="form-control"> </br>
       </div>   
        <div class="form-group">
            <label>Fecha de nacimiento: </label>
            <input name="Fnac" type="date" class="form-control"> </br>
       </div>   
     <div class="form-group">
            <label>Casa: </label>
            <select name="Casa" class="form-control">
               {{#each Casas}}
               <option value={{Id}}>{{Nombre}}
               </option>
               {{/each}}
            </select> </br>
       </div>
    <div class="form-group">
            <label>Foto:</label>
            <input type="file" class="form-control-file" id="exampleFormControlFile1" name="Archivo">
    </div>

    <div class="form-group">
         <br>
        <button  class="btn btn-success mt-4">Completar Formulario</button>
    </div>

</form>
        </div>
  </div>

