<div class="row">
<div class="card" style="width: 15rem;">
  <img class="card-img-top img-thumbnail" src="public/Imagenes/Toad_super_mario.webp" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Ingreso</h5>
    <p class="card-text">Nuevo ingreso al proyecto </p></br>
    <a href="#" class="btn btn-success">Completar Formulario</a>
  </div>
</div>
<div class="card" style="width: 15rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Editar</a>
  </div>
</div>
</div>