<div class="d-flex flex-row mt-4" >
<div class="card" style="width: 15rem;">
  <img class="card-img-top" width="150px" height="150px" src="./public/Imagenes/Toad_super_mario.webp" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Ingreso</h5>
    <p class="card-text">Nuevo ingreso al proyecto </p></br>
    <a href="/Educado/add" class="btn btn-success">Completar Formulario</a>
  </div>
</div>

{{#each consulta}}
<div class="card mx-2" style="width: 15rem;">
  <img class="card-img-top" src=".."  width="150px" height="150px" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{nombre}}</h5>
    <p class="card-text">{{CI}}</p>
    <div class="row">
<a href="/Educado/edit{{id}}" class="btn btn-primary ">Editar</a>
<a href="/Educado/delete/{{id}}" class="btn btn-danger ">Eliminar</a>
 </div>
  </div>
</div>
{{/each}}
</div>