<div class="row mt-4">

    <h5>{{id}}</h5>
    <a href="/educado/edit/{{id}}" class="btn btn-primary ">Datos personales</a><br>
    <a href="/educado/pei/{{id}}" class="btn btn-success ">PEI</a><br>
    <a href="/educado/ei/{{id}}" class="btn btn-primary">Evaluacion individual</a><br>
</div>